{% extends "base.html" %}


{% block home_content  %}

<section class="switchable switchable--switch space--xs">
    <div class="container">
        <div class="row">
        
            <div class="col-12 col-md-12 col-lg-12 storefront">
                <div class="height-40 imagebg border--round">
                      
                    <div class="pos-vertical-center col-lg-7 pl-5">
                       
                        <p class="contact title">We connect the industry with a abnormal signs diagnostic platform.</p>
                    <p class="lead ">
                      
                    </p>
                    </div>
                    
                    <div class="pos-vertical-center col-lg-5 col-md-6 hidden-xs" id="contact_top">
                        <img src="/static/image/about.svg" alt="mainpagepic" class="contactpage_img">
                    </div>
        
                    
                </div>
            </div>

            

            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<div class="main-container">
   
    
    <section class="text-center bg--secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h1 class="lead about" style="text-align: center;">What drives us</h1>
                    <hr>
                    <p class="lead" style="text-align: center;">
                        We use artificial intelligence to find out abnormal signs of the machine.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature">
                        <h4 id="about_1">Accuracy</h4>
                        <p>
                            For industrial equipment, checking equipment is a very important thing.
                            If you use our product, tell the facility manager when to reorganize the facility.
                            <br><br>As a result, maintenance costs or risk costs can be reduced.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h4 id="about_1">Compatibility</h4>
                        <p>
                            Our platform service is comfortable by user.
                            In addition, We provide our modules to enable accurate diagnosis of any industrial facility 
                            so it's comfortable.
                            <br><br>
                            Finally try our service first, and We provide free support for 3 months.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature">
                        <h4 id="about_1">Innovation</h4>
                        <p>
                            A.I technology is not being used well in industrial sites nowaday.The reality is that you use your cookies on the web to recommend products.
                            Contrary to that trend, <br><br>Our platform service that can help the industry immediately and help with operations,
                            making it easy to utilize ai technology.

                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>

{% endblock %}