{% extends "base.html" %}


{% block home_content  %}
<section class="cover cover-features imagebg space--lg" >
    
    <div class="container" id=main_front>
        <div class="row" id="main_front2">
        
                      
                    <div class=" col-lg-7 col-md-6 col-xs-12 pl-5 maintypo h-50 ">
                        <p class="title_front">
                            Connect the industry
                            <br>
                            <br>
                            <p class="title_front2">
                            We detect abnormalities in industrial facilities.
                            </p>
                        </p>
                    </div>
                    
                    <div class="pos-vertical-center col-lg-5 col-md-6 hidden-xs" id="contact_top">
                        <img src="{% static 'image/server_3.svg' %}" alt="mainpagepic" class="mainpage_img1" >
                    </div>

              
                    {% static 'image/server_3.svg' %}
            

            
        </div>
      

    </div>
    <!--end of container-->
</section>


  {% endblock %}
