{% extends "base.html" %}


{% block home_content  %}
<section class="switchable switchable--switch space--xs">
    <div class="container">
        <div class="row">
        
            <div class="col-12 col-md-12 col-lg-12 storefront">
                <div class="height-60 imagebg border--round">
                      
                    <div class="pos-vertical-center col-lg-7 pl-5">
                       
                        <p class="contact title">Let's talk about your project</p>
                    <p class="lead ">
                        Visit us in South Korea or make contact via the details below to talk more about your project or idea.
                    </p>
                    </div>
                    
                    <div class="pos-vertical-center col-lg-5 col-md-6 hidden-xs" id="contact_top">
                        <img src="/static/image/contact2.svg" alt="mainpagepic" class="contactpage_img">
                    </div>
        
                    
                </div>
            </div>

            

            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



    <section class="switchable ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-md-7 col-12">
                    <div id="map-container-google-2" class="z-depth-1-half map-container border--round" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.4206831121746!2d127.09250331576698!3d37.2139871798655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b45a5e3d89fc1%3A0xe63b33b40f47800f!2z6rK96riw64-EIO2ZlOyEseyLnCDrj5ntg4TrqbQg64-Z7YOE6riw7Z2l66GcIDYwMg!5e0!3m2!1sko!2skr!4v1622182750397!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                      </div>

                      
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="switchable__text">
                        <p class="lead">

                            <br>
                        602,Dongtan gihheung-ro 
                            <br>
                            <br />703-1,7F,THE FIRST TOWER3 bldg 
                        </p>
                        <p class="lead">
                            E:
                            <a href="#">nblprj@nextbrg.com</a>
                            <br /> P: +82 31 4827 2294
                        </p>
                        <p class="lead">
                            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
                        </p>
                        <p class="lead">
                            We are open from 9am &mdash; 5pm week days.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    



{% endblock %}