{% extends "base.html" %}


{% block home_content  %}


<section class="switchable switchable--switch space--xs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 storefront">
               
                <div class="height-40 imagebg border--round pos-vertical-center hidden-xs col-lg-6 col-md-6 pl-5">
                    
                    <img class="ebay" alt="Image" src="/static/image/ebay.png" >
                
                
                </div>


                    <div class="height-40 imagebg border--round pos-vertical-center col-md-6 col-lg-6 pl-5">
                        <h1 class="title">Store</h1>
                        <p class="lead">
                            Our product can be purchased Ebaystore 
                            
                            <hr>
    
                        </p>
                        <h1 class="lead">Enter EbayStore  &nbsp; <i class="fas fa-arrow-right"></i>

                            &nbsp; 
                            <a href="https://www.ebay.com/str/nextbrgelectronics"  style="text-decoration:none; color:white;"target="blank" >
                            <i class="fas fa-store-alt" style="color:white;"> 	
                                
                                </i></a>
                            </h1>

                    </div>


                   
                
            </div>
            


        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


{% endblock %}